/* Interactive button with all states */
.button {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}
.button::-moz-focus-inner {
    padding: 0;
    border: 0
}
    .button {
        border: 0
    }
    a.button:visited {
        cursor: default;
        outline: hidden;
        text-decoration: none
    }
.button {
    font-family: Arial, sans-serif;
    cursor: pointer !important
}
.input {
    position: relative;
    display: inline-block;
    width: 100%
}
.search {
    padding: 0;
    margin: 0
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
  /*! padding: 20px; */
}

/* Hide original during drag */
.b-page {
    color: #000;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    min-width: 650px;
    font: .8em Arial, Helvetica, sans-serif
}

.layout__col {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

/* Background container styles */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg-image{
    background-image: url(/islands_ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: blur(3px);
}

/* Make the header a flexâ€container */
:root{
  /*! --devmode-visibility: ; */
}

body {
  font: 0.8em Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 0;
  /*! margin: 0; */
  /*! padding: 0 0 1em 0; */
  color: #000;
  background: #fff;
}

html {
  height: 100%;
}

.service {
  font-size: 15px;
  position: relative;
  display: inline-block;
  margin: 0;
  text-align: center;
  line-height: 16px;
}

.service_hoverable_yes {
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition-property: background, color, opacity, top;
  transition-property: background, color, opacity, top;
  -webkit-transition-duration: 0.1s, 0.15s, 0.1s, 0.15s;
  transition-duration: 0.1s, 0.15s, 0.1s, 0.15s;
  -webkit-transition-timing-function: ease-out, ease-out, ease-in, ease-in;
  transition-timing-function: ease-out, ease-out, ease-in, ease-in;
  align-content: center;
}

.service_hoverable_yes .service__icon {
  opacity: 0.3;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.service_hoverable_yes:hover {
  color: #333;
}

.service_hoverable_yes:hover .service__icon {
  opacity: 0.6;
}

.service__icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.service__url {
  display: inline-block;
  text-decoration: none;
}

.service__url:hover:visited {
  color: inherit !important;
}

.b-link {
  text-decoration: none;
  color: #22c;
}

.b-link:visited {
  color: #551a8b;
}

.b-link:visited:hover {
  color: #d00 !important;
}

.main {
  min-height: 100%;
  margin-top: -103px;
  padding-top: 103px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.layout_type_serp .layout__col {
  margin-left: 10px;
  margin-right: 10px;
}

.layout_type_serp .layout__col_size_2 {
  width: 108px;
}

.layout_type_serp .layout__col_size_9 {
  width: 556px;
}

.layout_type_serp .layout__col_size_10 {
  width: 620px;
}

.main__left {
  position: fixed;
  z-index: 1;
  left: 0;
}

.main_type_2-auto.layout .main__left {
  width: 118px;
  margin-right: 0;
}

.main.layout .main__right {
  margin: 0;
}

.main_type_2-auto.layout .main__left {
  width: 117px;
}

.main__right {
  z-index: 0;
  width: 100%;
}

.main__right-inner {
  margin-left: 128px;
}

.button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media all and (min-width: 0) {
  .button {
    border: 0;
  }

  a.button:link,
  a.button:hover,
  a.button:visited {
    cursor: default;
    outline: hidden;
    text-decoration: none;
  }
}

.image {
  font: 0/0 a;
  border: 0;
}


.content__right {
  white-space: normal;
}

.serp-list {
  padding-top: 20px;
}

.select {
  display: inline-block;
}

.serp-adv__block_premium_yes:before {
  position: absolute;
  z-index: 2;
  top: -1px;
  bottom: 10px;
  left: -1px;
  width: 4px;
  content: "";
  border-left: 1px solid #e1d17c;
  background-color: #fbeb97;
}

.serp-adv__block .serp-sitelinks {
  display: inline-block;
  margin-right: 20px;
}

.serp-adv__block_premium_yes:before {
  top: -1px;
}

.serp-sitelinks {
  margin: 6px 0 0;
}

.serp-sitelinks__link {
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
}

.serp-sitelinks__link {
  padding-right: 16px;
}

.serp-block {
  position: relative;
  padding-bottom: 10px;
}

.serp-block__head {
  position: relative;
  top: -1px;
  z-index: 1;
  display: inline-block;
  color: #888;
  box-shadow: 0 1px 0 0 #fff, 0px 0 0 1px #dddcda;
}

.serp-block__head-wrap {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.serp-block__head .b-link {
  text-decoration: none;
  color: #888;
}

.serp-block__head {
  line-height: 28px;
}

.serp-block__head-wrap {
  padding: 0 12px;
}

.serp-item {
  position: relative;
  margin: 0;
  padding: 0;
}

.serp-item__wrap {
  position: relative;
}

.serp-item {
  line-height: 16px;
}

.serp-item__wrap {
  padding: 12px;
}

.serp-item__title-link {
  display: block;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
}

.serp-item__title {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin: -2px 35px 0 0;
}

.serp-item__text {
  line-height: 16px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.i-clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: " ";
}

.island {
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
      0 3px 4px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
      0 3px 4px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 4px -3px rgba(0, 0, 0, 0.3);
}

.island {
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px #dddcda;
  -moz-box-shadow: 0 0 0 1px #dddcda;
  box-shadow: 0 0 0 1px #dddcda;
}

.serp-url {
  padding-bottom: 1px;
  color: #070;
}

.serp-url__link:visited:hover {
  color: #d00;
}

.misspell {
  font-size: 0;
  line-height: 0;
  display: block;
}

.more {
  position: relative;
  margin: 10px 0 20px;
  text-align: center;
}

.navigation {
  margin-top: 20px;
  background-color: #fff;
  width: 118px;
  box-shadow: 0 0 0 1px #dddcda;
}

.navigation__item {
  position: relative;
  height: 72px;
  opacity: 1;
  -webkit-transition-property: opacity, top, height;
  -webkit-transition-duration: 0.1s, 0.15s, 0.1s;
  -webkit-transition-timing-function: ease-in, ease-in, ease-in;
  -moz-transition-property: opacity, top, height;
  -moz-transition-duration: 0.1s, 0.15s, 0.1s;
  -moz-transition-timing-function: ease-in, ease-in;
  transition-property: opacity, top, height;
  transition-duration: 0.1s, 0.15s, 0.1s;
  transition-timing-function: ease-in, ease-in;
}

.navigation__item .service {
  display: inline-block;
  width: 100%;
  height: 72px;
  margin: 0;
  text-align: center;
}

.navigation__item .service__icon {
  vertical-align: top;
}

.navigation__item_state_selected .service {
  height: 56px;
  padding: 8px 0;
}

.navigation__item_state_selected .service__icon {
  opacity: 0.8;
}

.navigation__item .service_hoverable_yes {
  color: #888;
  /*! border-radius: 3px; */
}

.navigation__item .service__url {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  color: #888;
}

.navigation__item .service__name {
  font-size: 13px;
}

.navigation__item_state_selected .service__url {
  color: #333;
}

@-webkit-keyframes show {
  0% {
    margin-left: 50px;
  }

  100% {
    margin-left: 0;
  }
}

@-moz-keyframes show {
  0% {
    margin-left: 50px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes show {
  0% {
    margin-left: 50px;
  }

  100% {
    margin-left: 0;
  }
}

.navigation__item .service_hoverable_yes:hover {
  background: rgba(0, 0, 0, 0.05);
}

.navigation__item .service_hoverable_yes .b-link:visited:hover {
  color: #888 !important;
}

.service-icon__www_self_40 {
  width: 40px;
  height: 40px;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%3E%3Cpath%20d%3D%22M20%204.015c-8.829%200-15.985%207.157-15.985%2015.986%200%208.826%207.156%2015.985%2015.985%2015.985%208.828%200%2015.986-7.159%2015.986-15.985%200-8.829-7.158-15.986-15.986-15.986zm.002%2021.98c-3.31%200-5.994-2.685-5.994-5.993%200-3.31%202.684-5.993%205.994-5.993%203.309%200%205.993%202.684%205.993%205.993s-2.684%205.993-5.993%205.993z%22%2F%3E%3C%2Fsvg%3E)
      no-repeat 50%;
}

.devmode{
  display: var(--devmode-visibility);
}
.island-interactive > h1 {
    font-weight: 200;
    margin-top: 2px;
    margin-bottom: 8px;
}

.expose-body {
    display: flex;
    align-items: center;
}
  
  .expose-image {
    width: 150px;
    height: auto;
    object-fit: cover;
  }
  
  .expose-content {
    padding: 10px;
  }
  
  .expose-content p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
  }

  .expose-content h1{
    font-weight: 200;
    margin-top: 2px;
    margin-bottom: 8px;
  }
  
  .expose-content strong {
    font-weight: bold;
  }

.topbar {
  position: sticky;
  /*! top: 0; */
  /*! left: 0; */
  width: 100%;
  background: #fff;
  box-shadow: 0 0 0 1px #dddcda;
  z-index: 100;
  display: flex;
  align-items: center;
  /*! padding: 0.5rem 2rem 0.5rem 1.5rem; */
  min-height: 64px;
  justify-content: center;
}

.topbar .search-bar {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, lightgray, black);
  border-radius: 8px;
  padding: 4px 4px 4px 4px;
  border-radius: 5000px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.03);
}

.topbar .search-bar input[type="text"] {
  border: none;
  outline: none;
  background: white;
  border-radius: 5000px;
  font-size: 1.1rem;
  padding: 8px 16px;
  min-width: 320px;
  margin-right: 8px;
  color: #222;
}


.topbar #nodeAddress {
  border: 1px solid #e0e0e0;
  border-radius: 18px;
  padding: 7px 16px;
  font-size: 1rem;
  margin-left: 0.5rem;
  background: #f5f6fa;
  color: #333;
  outline: none;
  transition: border 0.15s;
}

.topbar #nodeAddress:focus {
  border: 1.5px solid #2563eb;
}

@media (max-width: 700px) {
  .topbar {
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 0.5rem;
    min-height: unset;
  }
  .topbar .search-bar input[type="text"] {
    min-width: 0;
    width: 100%;
  }
  .topbar #nodeAddress {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;
  }
}

    .topbar-button {
        border-radius: 50%;
        padding: 23px;
        border-style: solid;
        border-width: 1px;
        border-color: #ccc;
    }
      .button-primary {
        background-color: #64b9f1 !important;
        background-image: linear-gradient(180deg,#B8EAF5,#92BAC2) !important;
        border-color: #3691a5 !important;
        color: #fff !important;
        text-shadow: 0 1px rgba(0,0,0,.3) !important;
      }
      .button-secondary {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 1px solid rgba(0,0,0,.2);
          border-top-color: rgba(0, 0, 0, 0.2);
          border-right-color: rgba(0, 0, 0, 0.2);
          border-bottom-color: rgba(0, 0, 0, 0.2);
          border-left-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.05),inset 0 1px 0 0 hsla(0,0%,100%,.45),inset 0 -1px 0 0 hsla(0,0%,100%,.15),0 1px 0 0 hsla(0,0%,100%,.15);
        color: #333;
        cursor: pointer;
        padding: 8px 8px;
        font-family: inherit;
        text-align: center;
        -webkit-text-decoration: none;
        text-decoration: none;
        text-shadow: 0 1px hsla(0,0%,100%,.4);
        background-image: linear-gradient(180deg,#FFFFFF 0%,#bbbbbb 100%);
        box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.05),inset 0 1px 0 0 hsla(0,0%,100%,.45),inset 0 -1px 0 0 hsla(0, 0%, 0%, 0.15),0 3px 6px rgba(150, 150, 150, 0.16),0 3px 6px rgba(0, 0, 0, 0.23);
      }
      .button-secondary:focus {
        box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.05),inset 0 1px 0 0 hsla(0,0%,100%,.45),inset 0 -1px 0 0 hsla(0,0%,100%,.15),0 3px 6px rgba(12, 200, 184, 0.16),0 3px 6px rgba(12, 194, 200, 0.23);
        -webkit-text-decoration: none;
        text-decoration: none;
      }
      .button-secondary:active {
        background-color: rgba(0,0,0,.05);
        background-image: none;
        border-color: rgba(0,0,0,.25);
        box-shadow: inset 0 0 8px 4px rgba(0,0,0,.3),0 1px 0 0 hsla(0,0%,100%,.3);
        background-image: linear-gradient(180deg,#CCCCCC,#FFFFFF);
      }


.theme-btn, .button-subtle, .more-btn {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 8px 8px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

.button-subtle.active {
  background: #92BAC2;
  border-color: #92BAC2;
  color: white;
}
